---
import { Resend } from 'resend';
export const prerender = false; // Not needed in 'server' mode
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
const key = import.meta.env.EMAIL_API;

const errors = { msg : "", email: "" };
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const message = data.get("message");
    if (typeof message !== "string" || message.length < 20) {
      errors.msg += "Bericht moet minimaal 20 letter hebben. ";
    }
    if (typeof email !== "string" || email.length < 5) {
      errors.email += "Email klopt niet. ";
    }
    // Do something with the data

		console.log(key)
    const resend = new Resend(key);

    resend.emails.send({
	  from: 'onboarding@resend.dev',
	  to: 'fbouchakhch@gmail.com',
	  subject: 'Contact voor het maken van website',
	  html:  `${email} wilt ${message}`
    });
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
	<Header />
	<form method="POST" class="px-10 sm:px-0 mb-8 grid gap-5 justify-center">
		<div class="sm:w-[600px] grid gap-3">
			<h2 class="font-medium text-lg">Contact</h2>
			<p class="text-gray-500">Bent u geïnteresseerd in het maken van een website, neem dan via de volgende methodes contact op:</p>
		</div>
		<div class="grid gap-2">
			<p class="font-medium">Email</p>
			<input type="email" name="email" placeholder="faouzib1@outlook.com" class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" />
		</div>

			{errors.email && <p class="text-red-500 bg-red-100 p-1.5 rounded-md border border-red-500">{errors.email}</p>}
		<div class="grid gap-2">
			<p class="font-medium">Bericht</p>
			<textarea name="message"  placeholder="Ik zou graag een website willen!" class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" />
		</div>
			{errors.msg && <p class="text-red-500 bg-red-100 p-1.5 rounded-md border border-red-500">{errors.msg}</p>}
		<button class="bg-black text-white rounded-md p-1.5 font-medium">Verzend</button>
	</form>
</Layout>
