<header>
  <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 z-10">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
	<p class="font-semibold text-lg">FUZZI</p>
      </a>
    </div>
    <el-popover-group class="flex lg:gap-x-12 gap-x-6">
      <a href="/my_skills" class="text-sm/6 font-semibold">Projecten</a>
      <a href="/contact" class="text-sm/6 font-semibold">Contact</a>
      <a href="#" class="text-sm/6 font-semibold"></a>
    </el-popover-group>
  </nav>
</header>
